fastapi==0.111.1
fastapi_limiter==0.1.6
pyrogram==2.0.106
tgcrypto==1.2.5
starlette~=0.37.2
jsonpickle~=3.2.2
asyncstdlib~=3.12.4
cryptography~=43.0.0
redis~=5.1.0b7
pydantic~=2.8.2
pydantic_settings==2.3.4